/*  your css code here. If applicable */
.container{
	width:150px;
	height:50px;
	background-color:gray;
	border:2px solid black;
	border-radius:15px;

	padding:20px;

	text-align:center;

	display:flex;
	align-items:center;
	justify-content:center;
	justify-content:space-evenly;
}

.item{
	border-radius:50%;
}

.green{
	width:30px;
	height:30px;
	background-color:green;
}


.yellow{
	width:30px;
	height:30px;
	background-color:yellow;
}


.red{
	width:30px;
	height:30px;
	background-color:red;
}
